body{
    background-color: bisque;
}

*{
    margin: 0;
    padding: 0;
}
nav ul{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    list-style-type: none;
    height: 90px;
    background-color: white;
    color: rgb(0, 0, 0);
    align-items: center;
    font-weight: bolder;
}
.logo img{
    padding: 0 2px;
}
.logo{
    display: flex;
    align-items: center;
    text-decoration: underline;
}
nav ul li{
    padding: 0  12px;
}
.player{
    min-height: 75vh;
    background-color: white;
    display: flex;
    margin: 23px auto;
    width: 70% ;
    padding: 34px;
    border-radius: 20px;
    background-image: url("media/bg.jpg");
    border-color: black;
    border-width: 10px;
    
}
.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    bottom: 0;
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#progressbar{
    width: 70%;
    text-align: center;
}
.icons{
    color: aliceblue;
    margin: 10px;
    cursor: pointer;
}
h1{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
.songitem {
    height: 50px;
    display:flex;
    background-color: white;
    margin-top: 13px;
    width: 98%;
    border-radius: 10px;
}
.songitem img{

}